.container {
    width: 48px;
    height: 24px;
    border: 1.5px solid #bbb;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.icon {
    font-size: 14px;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
}