.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 20px;

}

.links{
    display: flex;
    align-items: center;
    gap: 20px;

}

.logout{
    padding: 5px;
    background-color: maroon;
    border: none;
    cursor: pointer;
    color: #bbb;
}

